<table class='table_wo'>
    <tr>
        <th colspan=2></th>
        <th></th>
        <th>Code:</th>
        <td>#CAD080</td>
    </tr>
    <tr>
        <th style='width: 88px'>Address:</th>
        <td style='width: 340px'>213 S MERRIFIELD RD,DALLAS</td>
        <th></th>
        <th style='width: 80px'>Phone:</th>
        <td style='width: 250px'>(214) 462-2849</td>
    </tr>
    <tr>
        <th>Customer:</th>
        <td>CHRISTIAN CRUZ</td>
        <th></th>
        <th>Email:</th>
        <td>chcruzusa@gmail.com</td>
    </tr>
</table>
<table class='table_wo'>
    <tr>
        <th rowspan='1' style='width: 85px; text-align: left; vertical-align: top;'>Decorator:</th>
        <td>Canon and Dean / 601-201-8318 / hannahalysedean@gmail.com</td>
    </tr>
</table>
<div>
    <table class='table_item'>
        <tr>
            <th colspan='2' style='background-color:#f1f1f1; border:1px solid'>Item: #CAD080-1</th>
        </tr>
    </table>
</div>
<table class='table_item_detalle'>
    <tr>
        <th align='center' colspan=6>
            <th colspan="6" style="text-align: center;">
            <h1>Drapery</h1>
        </th>
    </tr>
    <tr>
        <th>Sub Category:</td>
        <td>Funtionals</td>
        <th>Group:</td>
        <td>Funtctional 1</td>
        <th>Place:</td>
        <td>Master Bedroom</td>
    </tr>
    <tr style='height:5px'>
        <th></th>
    </tr>
    <tr>
        <th>QTY:</td>
        <td>2 pares</td>
        <th>Due date:</th>
        <td>--</td>
        <th>Responsible:</th>
        <td> </td>
    </tr>
    <tr style='height:5px'>
        <th></th>
    </tr>
    <tr>
        <th style='vertical-align: top;'>Notes:</th>
        <td colspan=3>--</td>
    </tr>
    <tr style='height:5px'>
        <th></th>
    </tr>
</table>
<table class='table_item'>
    <tr>
        <td colspan='3' style='background-color:#f1f1f1'><b>Materials:</b></td>
    </tr>
    <table>
        <tr>
            <td style='width:300px; border-left:none; border-top:none'></td>
            <td style='width:170px'>QTY</td>
            <td style='width:170px'>Received QTY</td>
            <td style='width:100px'>Received Date</td>
        </tr>
        <tr>
            <td>Green </td>
            <td>25</td>
            <td>25</td>
            <td>10/14/2025</td>
        </tr>
    </table><br />
    <tr>
        <td style='padding:0 0; text-align: left; vertical-align: top;'>
            <table>
                <tr>
                    <td style='padding:0 0; text-align: center; vertical-align: top; height=180px'><img
                            src='media/ItemMaterial/80/Brandi_Luig.JPG' width='90%' /></td>
                </tr>
                <tr>
                    <td style='text-align: left; vertical-align: top;'>Green </td>                    
                </tr>
            </table>
        </td>
</table>
<table class='table_item'>
    <tr>
        <td colspan='3' style='background-color:#f1f1f1'><b>Images:</b></td>
    </tr>
    <tr>
        <td style='padding:0 0; text-align: left; vertical-align: top;'>
            <table>
                <tr>
                    <td style='padding:0 0; text-align: center; vertical-align: top; height=180px'><img
                            src='media/ItemImage/80/Capture.PNG' width='90%' /></td>
                </tr>
                <tr>
                    <td style='text-align: left; vertical-align: top;'>--</td>
                </tr>
            </table>
        </td>
</table>
<table class='table_item'>
    <tr>
        <td style='background-color:#f1f1f1'><b>Notes:</b></td>
    </tr>
    <tr>
        <td>PDF</td>
    </tr>
</table>