<section class="grid-gallery-section">
    <!-- Gallery Filters -->
    <h4>Images</h4>

    <div id="gallery-filters" class="gallery-button-group">
        <button class="filter-button is-checked" data-filter="*">ALL WORKS</button>
          <button class="filter-button" data-filter=".images">IMAGES</button>
          <button class="filter-button" data-filter=".material">MATERIAL</button>														  
    </div>
    <!-- Gallery Filters -->
  
      <div class="grid-gallery" style="position: relative; height: 3136.13px;">
    
        <div class="gallery-grid-sizer"></div>
        
        <!-- Single gallery item -->														  
        <div class="gallery-grid-item images">
            <div class="gallery-image-area">
                <img src="/media/images/2024/12/28/cogines.jpg" class="grid-thumbnail-image" alt="">
                <div class="gallery-overly">
                    <div class="image-details">
                        <span class="image-title">Image</span>
                    </div>
                    <a class="grid-image-zoom" href="/media/images/2024/12/28/cogines.jpg" data-fancybox-group="grid-gallery">	
                        <div class="gallery-zoom-icon"></div>
                    </a>
                </div>
            </div>
        </div>												  
        
        <!-- Single gallery item -->
        <div class="gallery-grid-item material">
            <div class="gallery-image-area">
                <img src="/media/images/2025/1/28/387097_1_6303ba4473279_-_copia.jpg" class="grid-thumbnail-image" alt="">
                <div class="gallery-overly">
                    <div class="image-details">
                        <span class="image-title">Material</span>
                    </div>
                    <a class="grid-image-zoom" href="/media/images/2025/1/28/387097_1_6303ba4473279_-_copia.jpg" data-fancybox-group="grid-gallery">	
                        <div class="gallery-zoom-icon"></div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Single gallery item -->														  
        <div class="gallery-grid-item images">
            <div class="gallery-image-area">
                <img src="/media/images/2024/12/28/cogines.jpg" class="grid-thumbnail-image" alt="">
                <div class="gallery-overly">
                    <div class="image-details">
                        <span class="image-title">What an image!</span>
                    </div>
                    <a class="grid-image-zoom" href="/media/images/2024/12/28/cogines.jpg" data-fancybox-group="grid-gallery">	
                        <div class="gallery-zoom-icon"></div>
                    </a>
                </div>
            </div>
        </div>												  
        
        <!-- Single gallery item -->
        <div class="gallery-grid-item material">
            <div class="gallery-image-area">
                <img src="/media/images/2025/1/28/387097_1_6303ba4473279_-_copia.jpg" class="grid-thumbnail-image" alt="">
                <div class="gallery-overly">
                    <div class="image-details">
                        <span class="image-title">What an image!</span>
                    </div>
                    <a class="grid-image-zoom" href="/media/images/2025/1/28/387097_1_6303ba4473279_-_copia.jpg" data-fancybox-group="grid-gallery">	
                        <div class="gallery-zoom-icon"></div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Single gallery item -->														  
        <div class="gallery-grid-item images">
            <div class="gallery-image-area">
                <img src="/media/images/2024/12/28/cogines.jpg" class="grid-thumbnail-image" alt="">
                <div class="gallery-overly">
                    <div class="image-details">
                        <span class="image-title">What an image!</span>
                    </div>
                    <a class="grid-image-zoom" href="/media/images/2024/12/28/cogines.jpg" data-fancybox-group="grid-gallery">	
                        <div class="gallery-zoom-icon"></div>
                    </a>
                </div>
            </div>
        </div>												  
        
        <!-- Single gallery item -->
        <div class="gallery-grid-item material">
            <div class="gallery-image-area">
                <img src="/media/images/2025/1/28/387097_1_6303ba4473279_-_copia.jpg" class="grid-thumbnail-image" alt="">
                <div class="gallery-overly">
                    <div class="image-details">
                        <span class="image-title">What an image!</span>
                    </div>
                    <a class="grid-image-zoom" href="/media/images/2025/1/28/387097_1_6303ba4473279_-_copia.jpg" data-fancybox-group="grid-gallery">	
                        <div class="gallery-zoom-icon"></div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Single gallery item -->														  
        <div class="gallery-grid-item images">
            <div class="gallery-image-area">
                <img src="/media/images/2024/12/28/cogines.jpg" class="grid-thumbnail-image" alt="">
                <div class="gallery-overly">
                    <div class="image-details">
                        <span class="image-title">What an image!</span>
                    </div>
                    <a class="grid-image-zoom" href="/media/images/2024/12/28/cogines.jpg" data-fancybox-group="grid-gallery">	
                        <div class="gallery-zoom-icon"></div>
                    </a>
                </div>
            </div>
        </div>												  
        
        <!-- Single gallery item -->
        <div class="gallery-grid-item material">
            <div class="gallery-image-area">
                <img src="/media/images/2025/1/28/387097_1_6303ba4473279_-_copia.jpg" class="grid-thumbnail-image" alt="">
                <div class="gallery-overly">
                    <div class="image-details">
                        <span class="image-title">What an image!</span>
                    </div>
                    <a class="grid-image-zoom" href="/media/images/2025/1/28/387097_1_6303ba4473279_-_copia.jpg" data-fancybox-group="grid-gallery">	
                        <div class="gallery-zoom-icon"></div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Single gallery item -->														  
        <div class="gallery-grid-item images">
            <div class="gallery-image-area">
                <img src="/media/images/2024/12/28/cogines.jpg" class="grid-thumbnail-image" alt="">
                <div class="gallery-overly">
                    <div class="image-details">
                        <span class="image-title">What an image!</span>
                    </div>
                    <a class="grid-image-zoom" href="/media/images/2024/12/28/cogines.jpg" data-fancybox-group="grid-gallery">	
                        <div class="gallery-zoom-icon"></div>
                    </a>
                </div>
            </div>
        </div>												  
        
        <!-- Single gallery item -->
        <div class="gallery-grid-item material">
            <div class="gallery-image-area">
                <img src="/media/images/2025/1/28/387097_1_6303ba4473279_-_copia.jpg" class="grid-thumbnail-image" alt="">
                <div class="gallery-overly">
                    <div class="image-details">
                        <span class="image-title">What an image!</span>
                    </div>
                    <a class="grid-image-zoom" href="/media/images/2025/1/28/387097_1_6303ba4473279_-_copia.jpg" data-fancybox-group="grid-gallery">	
                        <div class="gallery-zoom-icon"></div>
                    </a>
                </div>
            </div>
        </div>
                                                                                            
  </div>
</section>