{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<base href="">
	<title>Proyect</title>
	<meta name="csrf-token" content="{{ csrf_token }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />

	<!-- <link href="{% static 'css/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" /> -->
	<link href="{% static 'css/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />


	<!-- blueimp Gallery styles -->
	<link href="{% static 'css/fileupload/blueimp-gallery.min.css' %}" rel="stylesheet" type="text/css" />
	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link href="{% static 'css/fileupload/jquery.fileupload.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/fileupload/jquery.fileupload-ui.css' %}" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->

	<style>
		.preview {
			width: 200px;
			height: 200px;
			object-fit: cover;
			margin-top: 20px;
			margin-right: 10px;
		}
		.image-container {
			display: flex;
			flex-wrap: wrap;
		}															

	</style>

</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed"
	style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
	<!--begin::Main-->
	<!--begin::Root-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Page-->
		<div class="page d-flex flex-row flex-column-fluid">
			<!--begin::Wrapper-->
			<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

				<!--begin::Header-->
				{% include 'header.html' %}
				<!--end::Header-->

				<!--begin::Content-->
				<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

					<!--begin::Toolbar-->
					<div class="toolbar" id="kt_toolbar">

						<!--begin::Container-->
						<div id="kt_toolbar_container" class="container-xxl d-flex flex-stack">

							<!--begin::Page title (Titulo de la página) -->
							<div data-kt-swapper="true" data-kt-swapper-mode="prepend"
								data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
								class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
								<!--begin::Title-->
								<h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Proyect</h1>
								<!--end::Title-->
								<!--begin::Separator-->
								<span class="h-20px border-gray-200 border-start mx-4"></span>
								<!--end::Separator-->
								<!--begin::Breadcrumb-->
								<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
									<!--begin::Item-->
									<li class="breadcrumb-item text-muted">
										<a href="#" class="text-muted text-hover-primary">View</a>
									</li>
								</ul>
								<!--end::Breadcrumb-->

								{% if messages %}
								<div class="alert alert-dismissible fade show" role="alert">
									{% for message in messages %}
									<div class="alert alert-{{ message.tags }}">
										{{ message }}
									</div>
									{% endfor %}
								</div>
								{% endif %}



							</div>
							<!--end::Page title-->

						</div>
						<!--end::Container-->
					</div>
					<!--end::Toolbar-->
					<!--begin::Entry-->
					<div class="d-flex flex-column-fluid">
						<!--begin::Container-->
						<div class="container">
							<!--begin::Card-->
							<div class="card card-custom gutter-b">
								<div class="card-body">
									<div class="d-flex">

										<!--begin: Info-->
										<div class="flex-grow-1">
											<!--begin: Title-->
											<div class="d-flex align-items-center justify-content-between flex-wrap">
												<div class="mr-3">
													<!--begin::Name-->
													<h3>{{ customer.address}}
														{% if customer.apartment != '' %}
														, {{ customer.apartment }} {% endif %}
														{% if customer.city != '' %}
														, {{ customer.city }} {% endif %}
														{% if customer.state != '' %}
														, {{ customer.state }} {% endif %}
														{% if customer.zipcode != '' %}
														, {{ customer.zipcode }} {% endif %}
													</h3>
													<!--end::Name-->
													<!--begin::Contacts-->
													<div class="d-flex flex-wrap my-2">
														<a href="#"
															class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
															<span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
																<!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Mail-notification.svg-->
																<svg xmlns="http://www.w3.org/2000/svg"
																	xmlns:xlink="http://www.w3.org/1999/xlink"
																	width="24px" height="24px" viewBox="0 0 24 24"
																	version="1.1">
																	<g stroke="none" stroke-width="1" fill="none"
																		fill-rule="evenodd">
																		<rect x="0" y="0" width="24" height="24" />
																		<path
																			d="M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z"
																			fill="#000000" />
																		<circle fill="#000000" opacity="0.3" cx="19.5"
																			cy="17.5" r="2.5" />
																	</g>
																</svg>
																<!--end::Svg Icon-->
															</span>{{ customer.email}}</a>

														<a href="#"
															class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
															<span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
																<!--begin::Svg Icon | path:assets/media/svg/icons/General/Lock.svg-->
																<svg xmlns="http://www.w3.org/2000/svg"
																	xmlns:xlink="http://www.w3.org/1999/xlink"
																	width="24px" height="24px" viewBox="0 0 24 24"
																	version="1.1">
																	<g stroke="none" stroke-width="1" fill="none"
																		fill-rule="evenodd">
																		<rect x="0" y="0" width="24" height="24" />
																		<path
																			d="M9.82829464,16.6565893 C7.02541569,15.7427556 5,13.1079084 5,10 C5,6.13400675 8.13400675,3 12,3 C15.8659932,3 19,6.13400675 19,10 C19,13.1079084 16.9745843,15.7427556 14.1717054,16.6565893 L12,21 L9.82829464,16.6565893 Z M12,12 C13.1045695,12 14,11.1045695 14,10 C14,8.8954305 13.1045695,8 12,8 C10.8954305,8 10,8.8954305 10,10 C10,11.1045695 10.8954305,12 12,12 Z"
																			fill="#000000" />
																	</g>
																</svg>
																<!--end::Svg Icon-->
															</span>{{ customer.phone}}</a>

													</div>
													<!--end::Contacts-->
												</div>
												<div class="my-lg-0 my-1">
													<a href="#"
														class="btn btn-sm btn-info font-weight-bolder text-uppercase">Edit proyect</a>
												</div>
											</div>
											<!--end: Title-->
											<!--begin: Content-->
											<div class="d-flex align-items-center flex-wrap justify-content-between">
												<div
													class="flex-grow-1 font-weight-bold text-dark-50 py-5 py-lg-2 mr-5">
													{{ customer.description}}</div>

												<div
													class="flex-grow-1 font-weight-bold text-dark-50 py-5 py-lg-2 mr-5">
													<div>
														<div class="font-weight-bold mb-2">Create Date</div>
														<span
															class="btn btn-sm btn-text btn-light-primary text-uppercase font-weight-bold">{{proyect.creation_date}}</span>
													</div>
													<div class="">
														<!-- <div class="font-weight-bold mb-2">Due Date</div>
														<span class="btn btn-sm btn-text btn-light-danger text-uppercase font-weight-bold">23 Dec, 2024</span> -->
													</div>
												</div>

												<div class="d-flex flex-wrap align-items-center py-2">

													<div
														class="flex-grow-1 flex-shrink-0 w-150px w-xl-300px mt-4 mt-sm-0">
														<span class="font-weight-bold">Progress</span>
														<div class="progress progress-xs mt-2 mb-2">
															<div class="progress-bar bg-success" role="progressbar"
																style="width: 10%;" aria-valuenow="50" aria-valuemin="0"
																aria-valuemax="100"></div>
														</div>
														<span class="font-weight-bolder text-dark">10%</span>
													</div>
												</div>
											</div>
											<!--end: Content-->
										</div>
										<!--end: Info-->
									</div>
								</div>
							</div>
							<!--end::Card-->
							<!--begin::Card-->

							<div class="separator-dashed mt-4 mb-6"></div>

							<div class="card card-custom gutter-b">

								<div class="card card-custom">

									<!--begin::Body-->
									<nav>
										<div class="nav nav-tabs" id="nav-tab" role="tablist">

											<button class="nav-link active" id="nav-newItem-tab" data-bs-toggle="tab"
												data-bs-target="#nav-newItem" type="button" role="tab" aria-controls="nav-newItem" aria-selected="true">
												<span class="nav-icon mr-2">
													<span class="svg-icon mr-3">
														<!--begin::Svg Icon | path:assets/media/svg/icons/Devices/Display1.svg-->
														<svg xmlns="http://www.w3.org/2000/svg"
															xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
															height="24px" viewBox="0 0 24 24" version="1.1">
															<g stroke="none" stroke-width="1" fill="none"
																fill-rule="evenodd">
																<rect x="0" y="0" width="24" height="24" />
																<path
																	d="M11,20 L11,17 C11,16.4477153 11.4477153,16 12,16 C12.5522847,16 13,16.4477153 13,17 L13,20 L15.5,20 C15.7761424,20 16,20.2238576 16,20.5 C16,20.7761424 15.7761424,21 15.5,21 L8.5,21 C8.22385763,21 8,20.7761424 8,20.5 C8,20.2238576 8.22385763,20 8.5,20 L11,20 Z"
																	fill="#000000" opacity="0.3" />
																<path
																	d="M3,5 L21,5 C21.5522847,5 22,5.44771525 22,6 L22,16 C22,16.5522847 21.5522847,17 21,17 L3,17 C2.44771525,17 2,16.5522847 2,16 L2,6 C2,5.44771525 2.44771525,5 3,5 Z M4.5,8 C4.22385763,8 4,8.22385763 4,8.5 C4,8.77614237 4.22385763,9 4.5,9 L13.5,9 C13.7761424,9 14,8.77614237 14,8.5 C14,8.22385763 13.7761424,8 13.5,8 L4.5,8 Z M4.5,10 C4.22385763,10 4,10.2238576 4,10.5 C4,10.7761424 4.22385763,11 4.5,11 L7.5,11 C7.77614237,11 8,10.7761424 8,10.5 C8,10.2238576 7.77614237,10 7.5,10 L4.5,10 Z"
																	fill="#000000" />
															</g>
														</svg>
														<!--end::Svg Icon-->
													</span>
												</span>
												<span class="nav-text font-weight-bold">Add item</span></button>

											<button class="nav-link" id="nav-items-tab" data-bs-toggle="tab"
												data-bs-target="#nav-items" type="button" role="tab" aria-controls="nav-items" aria-selected="true">
												<span class="nav-icon mr-2">
													<span class="svg-icon mr-3">
														<!--begin::Svg Icon | path:assets/media/svg/icons/Devices/Display1.svg-->
														<svg xmlns="http://www.w3.org/2000/svg"
															xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
															height="24px" viewBox="0 0 24 24" version="1.1">
															<g stroke="none" stroke-width="1" fill="none"
																fill-rule="evenodd">
																<rect x="0" y="0" width="24" height="24" />
																<path
																	d="M11,20 L11,17 C11,16.4477153 11.4477153,16 12,16 C12.5522847,16 13,16.4477153 13,17 L13,20 L15.5,20 C15.7761424,20 16,20.2238576 16,20.5 C16,20.7761424 15.7761424,21 15.5,21 L8.5,21 C8.22385763,21 8,20.7761424 8,20.5 C8,20.2238576 8.22385763,20 8.5,20 L11,20 Z"
																	fill="#000000" opacity="0.3" />
																<path
																	d="M3,5 L21,5 C21.5522847,5 22,5.44771525 22,6 L22,16 C22,16.5522847 21.5522847,17 21,17 L3,17 C2.44771525,17 2,16.5522847 2,16 L2,6 C2,5.44771525 2.44771525,5 3,5 Z M4.5,8 C4.22385763,8 4,8.22385763 4,8.5 C4,8.77614237 4.22385763,9 4.5,9 L13.5,9 C13.7761424,9 14,8.77614237 14,8.5 C14,8.22385763 13.7761424,8 13.5,8 L4.5,8 Z M4.5,10 C4.22385763,10 4,10.2238576 4,10.5 C4,10.7761424 4.22385763,11 4.5,11 L7.5,11 C7.77614237,11 8,10.7761424 8,10.5 C8,10.2238576 7.77614237,10 7.5,10 L4.5,10 Z"
																	fill="#000000" />
															</g>
														</svg>
														<!--end::Svg Icon-->
													</span>
												</span>
												<span class="nav-text font-weight-bold">Items</span></button>
											
											<button class="nav-link" id="nav-notes-tab" data-bs-toggle="tab"
												data-bs-target="#nav-notes" type="button" role="tab"
												aria-controls="nav-notes" aria-selected="false"><span
													class="nav-icon mr-2">
													<span class="svg-icon mr-3">
														<!--begin::Svg Icon | path:assets/media/svg/icons/General/Notification2.svg-->
														<svg xmlns="http://www.w3.org/2000/svg"
															xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
															height="24px" viewBox="0 0 24 24" version="1.1">
															<g stroke="none" stroke-width="1" fill="none"
																fill-rule="evenodd">
																<rect x="0" y="0" width="24" height="24" />
																<path
																	d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z"
																	fill="#000000" />
																<circle fill="#000000" opacity="0.3" cx="18.5" cy="5.5"
																	r="2.5" />
															</g>
														</svg>
														<!--end::Svg Icon-->
													</span>
												</span>
												<span class="nav-text font-weight-bold">Notes</span></button>
										</div>
									</nav>
									<div class="card-body">
										<div class="tab-content" id="nav-tabContent">
											<div class="tab-pane active" id="nav-newItem" role="tabpanel" aria-labelledby="nav-newItem-tab">

												
												
												<form id="formItem" class="form" method="POST" enctype="multipart/form-data">
													<div class=""> <!--  class="card-body" -->
														
														<div class="card-title fs-4 fw-bolder">Item:</div>
									
														<!--begin::Row-->
														<div class="row">
															<!--begin::Col-->
																														
																<div class="col-lg-6">
	
																	<div class="row mb-6">
	
																		<div class="col-xl-2">
																			<div class="fs-7 fw-bold mt-2 mb-3">Category:</div>
																		</div>
																		<!--end::Col-->
																		<!--begin::Col-->
																		<div class="col-xl-6 fv-row">
																			<!--begin::Input-->
	
																			<select id="selectCategory" class="form-select form-select-solid" name="category">
																				<option value="">---</option>
																				{% for category in categories %}
																				<option value="{{ category.id }}">{{ category.name }}</option>
																				{% endfor %}
																			</select>
	
																			<!--end::Input-->
																		</div>
																		<!--end::Col-->
	
																	</div>
	
																	<div class="row mb-6">
	
																		<!--begin::Col-->
																		<div class="col-xl-2">
																			<div class="fs-7 fw-bold mt-2 mb-3">Sub Category:</div>
																		</div>
																		<!--end::Col-->
																		<!--begin::Col-->
																		<div class="col-xl-6 fv-row">
																			<!--begin::Input-->
																		
																			<select id="selectSubcategory" class="form-select form-select-solid"
																				data-kt-select2="false" data-placeholder="Select"
																				data-allow-clear="true" name="subcategory">
																				<option value="">---</option>
																			</select>
																		
																			<!--end::Input-->
																		</div>
																		<!--end::Col-->
	
																	</div>
	
																	<div class="row mb-6">
	
																		<!--begin::Col-->
																		<div class="col-xl-2">
																			<div class="fs-7 fw-bold mt-2 mb-3">Place:</div>
																		</div>
																		<!--end::Col-->
																		<!--begin::Col-->
																		<div class="col-xl-6 fv-row">
																			<!--begin::Input-->
	
																			<select id="selectPlace" class="form-select form-select-solid"
																				data-kt-select2="false" data-placeholder="Select"
																				data-allow-clear="true" name="place">
																				<option value="">---</option>
																				{% for place in places %}
																				<option value="{{ place.id }}">{{ place.name }}</option>
																				{% endfor %}
																			</select>
	
																			<!--end::Input-->
																		</div>
																		<!--end::Col-->
																	</div>
	
																	<div class="row mb-6">
	
																		<!--begin::Col-->
																		<div class="col-xl-2">
																			<div class="fs-7 fw-bold mt-2 mb-3">QTY:</div>
																		</div>
																		<!--end::Col-->
	
																		<div class="col-xl-6 fv-row">
																			<input id="inputQty" type="text" class="form-control form-control-solid" name="qty" value="" style="width: 80px;"/>
																		</div>
	
																	</div>
	
																	<div class="row mb-6">
																		<!--begin::Col-->
																		<div class="col-xl-2">
																			<div class="fs-7 fw-bold mt-2 mb-3">Notes:</div>
																		</div>
																		<!--end::Col-->
																		<!--begin::Col-->
																		<div class="col-xl-9 fv-row">
																			<textarea id="textareaNotes" name="notes"
																				class="form-control form-control-solid h-100px"
																				maxlength="2000"></textarea>																	
																		</div>
																		<!--begin::Col-->
																	</div>
																			
																</div>
																	
															<!--begin::Col-->
															<div id="divAttributes" class="col-lg-6">

															</div>

														</div>

														<div class="card-title fs-4 fw-bolder">Add images <i class="fas fa-cloud-upload-alt"></i></div><div class="card-title fs-8 fw-bolder">(jpeg, png, bmp)</div>

														<div id="divImg_1" class="row">
															
															<div class="col-lg-4">

																<div class="row mb-2">
																	
																	<div id="previewContainer_1" class="image-container"></div>
																	<input id="inputImg_1" type="file" name="inputImg_1" class="form-control form-control" onchange="previewImages(event, 1)" required>															

																</div>

															</div>
															
															<div id="divImgNotes_1" class="col-lg-8" style="display: none;">

																<div class="row mb-6">
																																		
																	<div class="col-xl-11 fv-row">
																		<div class="fs-7 fw-bold mt-2 mb-3">Description:</div>
																		<textarea id="txtImgNotes_1" name="txtImgNotes_1" class="form-control form-control-solid h-150px" maxlength="2000"></textarea>																	
																	</div>																	
																</div>

															</div>
														</div>
														
														<br/>

														<input id="proyect_id" name="proyect_id" type="hidden" value="{{ proyect.id }}" readonly/>
														
														<div class="card-footer d-flex justify-content-end py-6 px-9">
															<button id="reset" type="reset" class="btn btn-light btn-active-light-primary me-2">Clean</button>
															<button type="submit" class="btn btn-primary" id="submitItem">Save</button>
														</div>

													</div>
	
												</form>
																																											 
											</div>

											<div class="tab-pane fade" id="nav-items" role="tabpanel" aria-labelledby="nav-items-tab">

												<div>

													<div id="messageSave">

													</div>

													<div id="itemsDetails">
														{{ itemsHtml|safe }}
													</div>													

												</div>

											</div>
											
											<div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">

												<div>
													<div class="row mb-8">
														<!--begin::Col-->
														<div class="col-xl-1">
															<div class="fs-7 fw-bold mt-2 mb-3">Comment</div>
														</div>
														<!--end::Col-->
														<!--begin::Col-->
														<div class="col-xl-11 fv-row">
															<textarea id="textareaDescProyect" name="proyectDescription"
																class="form-control form-control-solid h-70px"
																maxlength="2000"></textarea>
															<right><button id="btnDesProyect"
																	style="border: none; background: transparent;"
																	type="button"><img
																		src="{% static 'images/microphone.svg' %}"
																		alt="Microphone" width="20"
																		height="20"></button></right>
														</div>
														<!--begin::Col-->
													</div>

													<!--begin::Card footer-->
													<div class="card-footer d-flex justify-content-end py-6 px-9">
														
														<button type="submit" class="btn btn-primary">Save</button>
													</div>
													<!--end::Card footer-->

												</div>










												<div class="timeline">


													<!--begin::Timeline item-->
													<div class="timeline-item">
														<!--begin::Timeline line-->
														<div class="timeline-line w-40px"></div>
														<!--end::Timeline line-->
														<!--begin::Timeline icon-->
														<div class="timeline-icon symbol symbol-circle symbol-40px">
															<div class="symbol-label bg-light">
																<!--begin::Svg Icon | path: icons/duotune/coding/cod008.svg-->
																<span class="svg-icon svg-icon-2 svg-icon-gray-500">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24"
																		height="24" viewBox="0 0 24 24" fill="none">
																		<path
																			d="M11.2166 8.50002L10.5166 7.80007C10.1166 7.40007 10.1166 6.80005 10.5166 6.40005L13.4166 3.50002C15.5166 1.40002 18.9166 1.50005 20.8166 3.90005C22.5166 5.90005 22.2166 8.90007 20.3166 10.8001L17.5166 13.6C17.1166 14 16.5166 14 16.1166 13.6L15.4166 12.9C15.0166 12.5 15.0166 11.9 15.4166 11.5L18.3166 8.6C19.2166 7.7 19.1166 6.30002 18.0166 5.50002C17.2166 4.90002 16.0166 5.10007 15.3166 5.80007L12.4166 8.69997C12.2166 8.89997 11.6166 8.90002 11.2166 8.50002ZM11.2166 15.6L8.51659 18.3001C7.81659 19.0001 6.71658 19.2 5.81658 18.6C4.81658 17.9 4.71659 16.4 5.51659 15.5L8.31658 12.7C8.71658 12.3 8.71658 11.7001 8.31658 11.3001L7.6166 10.6C7.2166 10.2 6.6166 10.2 6.2166 10.6L3.6166 13.2C1.7166 15.1 1.4166 18.1 3.1166 20.1C5.0166 22.4 8.51659 22.5 10.5166 20.5L13.3166 17.7C13.7166 17.3 13.7166 16.7001 13.3166 16.3001L12.6166 15.6C12.3166 15.2 11.6166 15.2 11.2166 15.6Z"
																			fill="black" />
																		<path opacity="0.3"
																			d="M5.0166 9L2.81659 8.40002C2.31659 8.30002 2.0166 7.79995 2.1166 7.19995L2.31659 5.90002C2.41659 5.20002 3.21659 4.89995 3.81659 5.19995L6.0166 6.40002C6.4166 6.60002 6.6166 7.09998 6.5166 7.59998L6.31659 8.30005C6.11659 8.80005 5.5166 9.1 5.0166 9ZM8.41659 5.69995H8.6166C9.1166 5.69995 9.5166 5.30005 9.5166 4.80005L9.6166 3.09998C9.6166 2.49998 9.2166 2 8.5166 2H7.81659C7.21659 2 6.71659 2.59995 6.91659 3.19995L7.31659 4.90002C7.41659 5.40002 7.91659 5.69995 8.41659 5.69995ZM14.6166 18.2L15.1166 21.3C15.2166 21.8 15.7166 22.2 16.2166 22L17.6166 21.6C18.1166 21.4 18.4166 20.8 18.1166 20.3L16.7166 17.5C16.5166 17.1 16.1166 16.9 15.7166 17L15.2166 17.1C14.8166 17.3 14.5166 17.7 14.6166 18.2ZM18.4166 16.3L19.8166 17.2C20.2166 17.5 20.8166 17.3 21.0166 16.8L21.3166 15.9C21.5166 15.4 21.1166 14.8 20.5166 14.8H18.8166C18.0166 14.8 17.7166 15.9 18.4166 16.3Z"
																			fill="black" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</div>
														</div>
														<!--end::Timeline icon-->
														<!--begin::Timeline content-->
														<div class="timeline-content mb-10 mt-n1">
															<!--begin::Timeline heading-->
															<div class="mb-5 pe-3">
																<!--begin::Title-->
																<div class="fs-6 fw-bold mb-5">New comment</div>
																<!--end::Title-->
																<!--begin::Description-->
																<div class="d-flex align-items-center mt-1 fs-6">
																	<!--begin::Info-->
																	<div class="text-muted me-2 fs-7">Sent at 10:30 pm
																	</div>
																	<!--end::Info-->
																	<!--begin::User-->
																	<div class="symbol symbol-circle symbol-25px"
																		data-bs-toggle="tooltip"
																		data-bs-boundary="window"
																		data-bs-placement="top" title="Nina Cruz">
																		<a href="#"
																			class="text-primary fw-bolder me-1">User
																			name</a>
																	</div>
																	<!--end::User-->
																</div>
																<!--end::Description-->
															</div>
															<!--end::Timeline heading-->
														</div>
														<!--end::Timeline content-->
													</div>
													<!--end::Timeline item-->

													<!--begin::Timeline item-->
													<div class="timeline-item">
														<!--begin::Timeline line-->
														<div class="timeline-line w-40px"></div>
														<!--end::Timeline line-->
														<!--begin::Timeline icon-->
														<div class="timeline-icon symbol symbol-circle symbol-40px">
															<div class="symbol-label bg-light">
																<!--begin::Svg Icon | path: icons/duotune/art/art005.svg-->
																<span class="svg-icon svg-icon-2 svg-icon-gray-500">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24"
																		height="24" viewBox="0 0 24 24" fill="none">
																		<path opacity="0.3"
																			d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z"
																			fill="black" />
																		<path
																			d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z"
																			fill="black" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</div>
														</div>
														<!--end::Timeline icon-->


														<!--begin::Timeline content-->
														<div class="timeline-content mb-10 mt-n1">
															<!--begin::Timeline heading-->
															<div class="pe-3 mb-5">
																<!--begin::Title-->
																<div class="fs-5 fw-bold mb-2"></div>
																<!--end::Title-->
																<!--begin::Description-->
																<div class="d-flex align-items-center mt-1 fs-6">
																	<!--begin::Info-->
																	<div class="text-muted me-2 fs-7">Generado a las
																		5:05 AM por</div>
																	<!--end::Info-->
																	<!--begin::User-->
																	<div class="symbol symbol-circle symbol-25px"
																		data-bs-toggle="tooltip"
																		data-bs-boundary="window"
																		data-bs-placement="top" title="Christian Cruz">
																		<a href="#"
																			class="text-primary fw-bolder me-1">ccruz@gmail.com</a>
																	</div>
																	<!--end::User-->
																</div>
																<!--end::Description-->
															</div>
															<!--end::Timeline heading-->
														</div>
														<!--end::Timeline content-->
													</div>
													<!--end::Timeline item-->

												</div>



											</div>

										</div>
									</div>
									<!--end::Body-->
								</div>

							</div>
							<!--end::Card-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Entry-->

				</div>
					<!--end::Content-->					
					<!--begin::Footer-->
					{% include 'footer.html' %}
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Root-->
		<!--begin::Drawers-->

		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
			<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
			<span class="svg-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
					<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)"
						fill="black" />
					<path
						d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z"
						fill="black" />
				</svg>
			</span>
			<!--end::Svg Icon-->
		</div>
		<!--end::Scrolltop-->
		<!--end::Main-->
		<!--<script>var hostUrl = "assets/";</script>-->
		<!--begin::Javascript-->
		<!--begin::Global Javascript Bundle(used by all pages)-->

		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };</script>

		<script src="{% static 'js/jquery.min.js' %}"></script>

		<script src="{% static 'js/plugins.bundle.js' %}"></script>
		<script src="{% static 'js/scripts.bundle.js' %}"></script>
		<script src="{% static 'js/settingsView.js' %}"></script>
		<script src="{% static 'js/jquery.mask.min.js' %}"></script>		
		

		<script>
			function previewImages(event, id) {

				div = 'previewContainer_' + String(id)
				divNotes = '#divImgNotes_' + String(id)
				inputImg = '#inputImg_' + String(id)

				const previewContainer = document.getElementById(div);
				previewContainer.innerHTML = ''; // Limpiar las imágenes previas

				const files = event.target.files;

				// Crear una vista previa para cada imagen seleccionada
				for (const file of files) {
					const reader = new FileReader();
					
					reader.onload = function(e) {
						const img = document.createElement('img');
						img.src = e.target.result;
						img.classList.add('preview');
						img.name = 'images';
						previewContainer.appendChild(img);
						$(divNotes).css('display', '');
						$(inputImg).css('display', 'none');
						newImagesDiv(id);

					};
					
					reader.readAsDataURL(file);
				}
			}


			function newImagesDiv(id){

				newId = id + 1;
				divNotes = '#divImg_' + String(id)
				html = '<br/><div id="divImg_' + String(newId) + '" class="row"><div class="col-lg-4"><div class="row mb-2"><div id="previewContainer_' + String(newId) + '" class="image-container"></div>';
				html +=	'<input id="inputImg_' + String(newId) + '" type="file" name="inputImg_' + String(newId) + '" class="form-control form-control" onchange="previewImages(event, ' + String(newId) + ')" required></div></div>';
				html += '<div id="divImgNotes_' + String(newId) + '" class="col-lg-8" style="display: none;"><div class="row mb-6">';
				html += '<div class="col-xl-11 fv-row"><div class="fs-7 fw-bold mt-2 mb-3">Description:</div>';
				html += '<textarea id="txtImgNotes_' + String(newId) + '" name="txtImgNotes_' + String(newId) + '" class="form-control form-control-solid h-150px" maxlength="2000"></textarea></div></div></div></div>';

				$(divNotes).after(html);

			}


		</script>


		
		
		<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
		<!-- <script src="{% static 'js/fileupload/jquery.ui.widget.js' %}"></script> -->
		<!-- The Templates plugin is included to render the upload/download listings -->
		<!-- <script src="{% static 'js/fileupload/tmpl.min.js' %}"></script> -->
		<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
		<!-- <script src="{% static 'js/fileupload/load-image.all.min.js' %}"></script> -->
		<!-- The Canvas to Blob plugin is included for image resizing functionality -->
		<!-- <script src="{% static 'js/fileupload/canvas-to-blob.min.js' %}"></script> -->
		<!-- blueimp Gallery script -->
		<!-- <script src="{% static 'js/fileupload/jquery.blueimp-gallery.min.js' %}"></script> -->
		<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
		<!-- <script src="{% static 'js/fileupload/jquery.iframe-transport.js' %}"></script> -->
		<!-- The basic File Upload plugin -->
		<!-- <script src="{% static 'js/fileupload/jquery.fileupload.js' %}"></script> -->
		<!-- The File Upload processing plugin -->
		<!-- <script src="{% static 'js/fileupload/jquery.fileupload-process.js' %}"></script> -->
		<!-- The File Upload image preview & resize plugin -->
		<!-- <script src="{% static 'js/fileupload/jquery.fileupload-image.js' %}"></script> -->
		<!-- The File Upload audio preview plugin -->
		<!-- <script src="{% static 'js/fileupload/jquery.fileupload-audio.js' %}"></script> -->
		<!-- The File Upload video preview plugin -->
		<!-- <script src="{% static 'js/fileupload/jquery.fileupload-video.js' %}"></script> -->
		<!-- The File Upload validation plugin -->
		<!-- <script src="{% static 'js/fileupload/jquery.fileupload-validate.js' %}"></script> -->
		<!-- The File Upload user interface plugin -->
		<!-- <script src="{% static 'js/fileupload/jquery.fileupload-ui.js' %}"></script> -->

		<!-- <script src="{% static 'js/fileupload/demo.js' %}"></script> -->






		<script>

			var div = document.getElementById('kt_activities_toggle');
			div.parentNode.remove();	

			$(document).ready(function () {

				$("#inputQty").mask('0000'); // Formato de número 4 digitos	
				
				


			});

			$('#selectCategory').change(function() {				
                loadSubcategory();
				loadAttributes();
            });


			
			function loadSubcategory(){	
				var selectValue = $("#selectCategory").val();			
								
				if(selectValue != "" ) {				

					$.ajax({
						url: "{% url 'getSelectSubcategory_url' %}",  // La URL que manejará la consulta AJAX
						method: 'POST',
						data: {
							'categorySelect': selectValue  // El valor que se envía al servidor
						},
						beforeSend: function(xhr, settings) {
							// Añadir el token CSRF en las cabeceras
							xhr.setRequestHeader('X-CSRFToken', $('meta[name="csrf-token"]').attr('content'));
						},
						success: function(response) {
							// Rellena los campos con los datos obtenidos de la respuesta
							$('#selectSubcategory').html(response.result);
						},
						error: function(xhr, status, error) {
							console.error("Error server: " + error, event.error);							
						}
					});				
					
				}

			}


			function loadAttributes(){	
				var selectValue = $("#selectCategory").val();			
								
				if(selectValue != "" ) {				

					$.ajax({
						url: "{% url 'getSelectAttribute_url' %}",  // La URL que manejará la consulta AJAX
						method: 'POST',
						data: {
							'categorySelect': selectValue  // El valor que se envía al servidor
						},
						beforeSend: function(xhr, settings) {
							// Añadir el token CSRF en las cabeceras
							xhr.setRequestHeader('X-CSRFToken', $('meta[name="csrf-token"]').attr('content'));
						},
						success: function(response) {
							// Rellena los campos con los datos obtenidos de la respuesta
							$('#divAttributes').html(response.result);
						},
						error: function(xhr, status, error) {
							console.error("Error server: " + error, event.error);							
						}
					});				
					
				}

			}


			function loadItems(){
				var selectValue = $("#proyect_id").val();			
								
				if(selectValue != "" ) {				

					$.ajax({
						url: "{% url 'getSelectItems_url' %}",  // La URL que manejará la consulta AJAX
						method: 'POST',
						data: {
							'proyect_id': selectValue  // El valor que se envía al servidor
						},
						beforeSend: function(xhr, settings) {
							// Añadir el token CSRF en las cabeceras
							xhr.setRequestHeader('X-CSRFToken', $('meta[name="csrf-token"]').attr('content'));
						},
						success: function(response) {
							// Rellena los campos con los datos obtenidos de la respuesta
							$('#itemsDetails').html(response.result);
						},
						error: function(xhr, status, error) {
							console.error("Error server: " + error, event.error);							
						}
					});				
					
				}
			}
			

			function del(i){

				Swal.fire({
					title: 'Are you sure?',
					text: 'This action will delete the item. Do you want to continue?',
					icon: 'warning',
					showCancelButton: true,  // Muestra el botón de cancelación
					confirmButtonText: 'Yes',
					cancelButtonText: 'Cancel'
				}).then((result) => {
					if (result.isConfirmed) {
						// Si el usuario confirma, se ejecuta la acción AJAX
						$.ajax({
							url: "{% url 'deleteItem_url' %}",  // La URL que manejará la consulta AJAX
							method: 'POST',
							data: {
								'i': i  // El valor que se envía al servidor
							},
							beforeSend: function(xhr, settings) {
								// Añadir el token CSRF en las cabeceras
								xhr.setRequestHeader('X-CSRFToken', $('meta[name="csrf-token"]').attr('content'));
							},
							success: function(response) {
								// Rellena los campos con los datos obtenidos de la respuesta
								if(response.result == "1"){
									loadItems();

									Swal.fire({
										title: 'Deleted!',
										text: 'The item has been successfully deleted.',
										icon: 'info',
										confirmButtonText: 'Ok.'
									});
								}

								
							},
							error: function(xhr, status, error) {																
								Swal.fire({
										title: 'Error server!',
										text: error,
										icon: 'error',
										confirmButtonText: 'Ok.'
									});

							}
						});	
					}
				});
			}



			// $('#clonarDiv').click(function() {
            // 	var clon = $('#divImage').clone(); // Clonamos el div
            // 	$('#divImage').after(clon); // Insertamos el clon después del div original
        	// });

			// $('#clonarMaterial').click(function() {
            // 	var clon = $('#divCatalog').clone(); // Clonamos el div
            // 	$('#divCatalog').after(clon); // Insertamos el clon después del div original
        	// });

		</script>

</body>
<!--end::Body-->

</html>